:root {
    --color-black: #28282A;
    --color-grey: #757585;
    --color-white: #FFFFFF;
    --color-blue-dark: #33387C;
    --color-blue-med: #2990D3;
    --color-blue-light: #C4DFF2;
    --color-red: #E03E3E;
    --color-orange: #F9B562;
    --color-green: #8AB57D;
}

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background-color: var(--color-black);
}

.table-data-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    width: 100vw;
    padding: 3rem;
}

.table-hidden {
    font-size: 0;
    height: 0;
    width: 0;
}

.table-visible {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 3rem;
    margin: 0;
    border-spacing: 0 1rem;
    width: 100vw;
    height: 100vh;
    
}

tbody > tr {
    background-color: var(--color-blue-med);
    color: var(--color-white);
    border-radius: 1rem;
}

tbody > tr > td {
    border: solid var(--color-blue-light);
    border-width: 0 0.25rem;
}

tr > td:first-child {
    border-radius: 1rem 0 0 1rem;
    border-left: 0;
}
tr > td:last-child {
    border-radius: 0 1rem 1rem 0;
    border-right: 0;
}


thead, tfoot {
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    color: var(--color-blue-light);
    text-transform: uppercase;

}

h1 {
    font-size: 4rem;
    margin: 0;
    color: var(--color-blue-dark);
    text-transform: lowercase;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--color-blue-med);
    text-transform: lowercase;
}

p {
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-black);
}

input {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    
}
input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=file]::before, button {
    content: "Choose File";
    display: inline-block;
    background: var(--color-grey);
    color: var(--color-white);
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: lighter;
    font-size: 1rem;
}

input[type=file]:hover::before, button:hover {
    background: var(--color-blue-dark);
}

input[type=file]:disabled:before, button:disabled {
    background: var(--color-blue-light);
}

.logo {
    width: 25%;
    height: auto;
    margin-top: 3rem;
}

.table-block {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media screen and (max-width: 1400px) {

    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {

    html {
        font-size: 5px;
    }
}